<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>The Official Blog of Rich Sanchez</title>

    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/vendor/font-awesome/css/font-awesome.min.css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/assets/css/style.css'>
  </head>
  <body>
    {{{ body }}}

    <script src='/vendor/jquery/dist/jquery.min.js'></script>
    <script src='/vendor/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src='/assets/js/main.js'></script>
  </body>
</html>
