<header class='main-header'>
  <div class='black'></div>

  <nav class='navbar navbar-default'>
    <div class='container'>
      <div class='navbar-header'>
        <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <a class='navbar-brand' href='#'>
          <i class="fa fa-flask"></i>
          Rick Sanchez
        </a>
      </div>

      <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
        <ul class='nav navbar-nav navbar-right'>
          <li><a href='/'>Home</a></li>
          <li><a id='nav-about' href='#'>About</a></li>
          <li><a id='nav-writing' href='#'>Writing</a></li>
          <li><a id='nav-contact' href='#'>Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class='header-text'>
    <h1 class='header-title'>Hi, I'm Rick Sanchez.</h1>
    <h2 class='header-subtitle'>Scientist. Time Traveler. Alcoholic.</h2>
  </div>
</header>

<main>
  <section class='about-section'>
    <div class='container'>
      <h2 class='section-title'>About Me</h2>
      <div class='row center'>
        <div class='col-xs-12 col-sm-3'>
          <img src='/assets/img/rick.png' alt='rick-headshot' class='img-circle headshot' />
        </div>
        <div class='col-xs-12 col-sm-9'>
          <p class='section-content'>
            Hey there, I'm Rick Sanchez of Earth dimension C-137. Scientist,
            inventor, engineer, weapons manufacturer, grandfather, part time
            alcoholic and anything else you are willing to pay for. 
          </p>
          <p class='section-content'>
            I do most of my work in the garage.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class='writing-section'>
    <div class='container'>
      <h2 class='section-title'>My Writing</h2>
      <div class='section-content'>
        <div class='post-preview'>
          <h3 class='post-preview-title'>Cross-Dimensional Televisions</h3>
          <p>
            I find television to be excruciatingly boring. You see the same
            stuff over and over again. That's why I decided to build a
            television that has access to all channels across all dimensions.
            Such a television literally...
          </p>
          <a href='/cross-dimensional-television'>Read more &raquo;</a>
        </div>
        <div class='post-preview'>
          <h3 class='post-preview-title'>Concentrated Dark Matter</h3>
          <p>
            Concentrated Dark Matter was a fuel that I invented to travel
            faster than anyone else in the universe. The Zigerions wanted
            the secret to making this fuel badly, and constantly tried to 
            trick my grandson and I...
          </p>
          <a href='/concentrated-dark-matter'>Read more &raquo;</a>
        </div>
        <div class='post-preview'>
          <h3 class='post-preview-title'>Mega Tree seeds</h3>
          <p>
            Dimension 35-C has the perfect conditions for growing Mega Trees.
            The seeds can be used to briefly make someone incredibly
            intelligent. Unfortunately in order to get past intergalactic
            customs, Morty had to hide...
          </p>
          <a href='/mega-tree-seeds'>Read more &raquo;</a>
        </div>
      </div>
    </div>
  </section>

  <section class='contact-section'>
    <div class='container'>
      <h2 class='section-title'>Contact Me</h2>
        <form>
          <div class='row'>
            <div class='col-xs-12 col-sm-6'>
              <input type="text" label="Name" class="form-control contact-input" placeholder="First Name *">
            </div>
            <div class='col-xs-12 col-sm-6'>
              <input type="text" label="Name" class="form-control contact-input" placeholder="Last Name *">
            </div>
          </div>
          <input type="email" class="form-control contact-input" placeholder="Your Email *">
          <input type="text" class="form-control contact-input" placeholder="Subject *">
          <textarea class="form-control contact-input message" placeholder="Your Message *"></textarea>
          <input class="btn btn-default contact-submit" type="submit" value="Submit">
        </form>
      </div>
    </div>
  </section>
</main>

<footer>
  Made with <i class='fa fa-heart'></i> at <a href='http://boilercamp.org/'>BoilerCamp 2015</a>.
</footer>
