<article class="blog-post">
  <a href="/cross-dimensional-television"><h1 class="blog-title">Cross Dimensional Television</h1></a>

  <div class='blog-body'>
    {{{ marked post.body }}}
  </div>
</article>
