<nav class='blog-nav'>
  <a href='/'>
    <i class="fa fa-flask"></i>
    Rick Sanchez
  </a>
</nav>

<article class="blog-post">
  <a href='/{{ post.url }}'>
    <h1 class='blog-title'>{{ post.title }}</h1>
  </a>
  <div class='blog-body'>
    {{{ post.body }}}
  </div>
</article>
